<section
  class="about flex-column d-flex align-items-center justify-content-center"
>
  <h1>ABOUT COMPONENT</h1>
  <h4 class="icons-style"><i class="text-white fa-solid fa-star"></i></h4>
  <div class="about-info d-flex align-items-center justify-content-around w-75">
    <p>
      Freelancer is a free bootstrap theme created by Route. The download
      includes the complete source files including HTML, CSS, and JavaScript as
      well as optional SASS stylesheets for easy customization.
    </p>
    <p>
      Freelancer is a free bootstrap theme created by Route. The download
      includes the complete source files including HTML, CSS, and JavaScript as
      well as optional SASS stylesheets for easy customization.
    </p>
  </div>
</section>
