<section class="py-4">
  <div
    class="py-4 contact d-flex align-items-center justify-content-start flex-column"
  >
    <h1 class="mt-5">PORTFOLIO COMPONENT</h1>
    <h4 class="icons-style"><i class="fa-solid fa-star"></i></h4>
  </div>

  <div class="container">
    <div class="row gy-4">
      <!-- (click)="open($event)" -->

      <div class="col-md-4 position-relative overflow-hidden position-relative">
        <!-- Button trigger modal -->
        <button
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          class="p-0 border-0"
        >
          <img
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            class="rounded rounded-3 w-100"
            [src]="imageSrc"
            alt="poert1 -image"
          />
        </button>

        <!-- Modal -->
        <div
          class="modal fade"
          id="exampleModa-l"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <img [src]="imageSrc" class="w-100" alt="poert1 -image" />
              </div>
            </div>
          </div>
        </div>

        <div
          data-bs-toggle="modal"
          data-bs-target="#exampleModa-l"
          class="layer rounded rounded-3 d-flex align-items-center justify-content-center"
        >
          <h1><i class="text-white fa-solid fa-plus"></i></h1>
        </div>
      </div>




      <div class="col-md-4 position-relative overflow-hidden position-relative">
        <!-- Button trigger modal -->
        <button
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          class="p-0 border-0"
        >
          <img
            data-bs-toggle="modal"
            data-bs-target="#exampleModa2"
            class="rounded rounded-3 w-100"
            [src]="imageSrc2"
            alt="poert1 -image"
          />
        </button>

        <!-- Modal -->
        <div
          class="modal fade"
          id="exampleModa-2"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <img [src]="imageSrc2" class="w-100" alt="poert1 -image" />
              </div>
            </div>
          </div>
        </div>

        <div
          data-bs-toggle="modal"
          data-bs-target="#exampleModa-2"
          class="layer rounded rounded-3 d-flex align-items-center justify-content-center"
        >
          <h1><i class="text-white fa-solid fa-plus"></i></h1>
        </div>
      </div>
      <div class="col-md-4 position-relative overflow-hidden position-relative">
        <!-- Button trigger modal -->
        <button
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          class="p-0 border-0"
        >
          <img
            data-bs-toggle="modal"
            data-bs-target="#exampleModal3"
            class="rounded rounded-3 w-100"
            [src]="imageSrc3"
            alt="poert1 -image"
          />
        </button>

        <!-- Modal -->
        <div
          class="modal fade"
          id="exampleModal-3"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <img [src]="imageSrc3" class="w-100" alt="poert1 -image" />
              </div>
            </div>
          </div>
        </div>

        <div
          data-bs-toggle="modal"
          data-bs-target="#exampleModal-3"
          class="layer rounded rounded-3 d-flex align-items-center justify-content-center"
        >
          <h1><i class="text-white fa-solid fa-plus"></i></h1>
        </div>
      </div>
      <div class="col-md-4 position-relative overflow-hidden position-relative">
        <!-- Button trigger modal -->
        <button
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          class="p-0 border-0"
        >
          <img
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            class="rounded rounded-3 w-100"
            [src]="imageSrc"
            alt="poert1 -image"
          />
        </button>

        <!-- Modal -->
        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <img [src]="imageSrc" class="w-100" alt="poert1 -image" />
              </div>
            </div>
          </div>
        </div>

        <div
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          class="layer rounded rounded-3 d-flex align-items-center justify-content-center"
        >
          <h1><i class="text-white fa-solid fa-plus"></i></h1>
        </div>
      </div>
      <div class="col-md-4 position-relative overflow-hidden position-relative">
        <!-- Button trigger modal -->
        <button
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          class="p-0 border-0"
        >
          <img
            data-bs-toggle="modal"
            data-bs-target="#exampleModa2"
            class="rounded rounded-3 w-100"
            [src]="imageSrc2"
            alt="poert1 -image"
          />
        </button>

        <!-- Modal -->
        <div
          class="modal fade"
          id="exampleModa2"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <img [src]="imageSrc2" class="w-100" alt="poert1 -image" />
              </div>
            </div>
          </div>
        </div>

        <div
          data-bs-toggle="modal"
          data-bs-target="#exampleModa2"
          class="layer rounded rounded-3 d-flex align-items-center justify-content-center"
        >
          <h1><i class="text-white fa-solid fa-plus"></i></h1>
        </div>
      </div>
      <div class="col-md-4 position-relative overflow-hidden position-relative">
        <!-- Button trigger modal -->
        <button
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          class="p-0 border-0"
        >
          <img
            data-bs-toggle="modal"
            data-bs-target="#exampleModal3"
            class="rounded rounded-3 w-100"
            [src]="imageSrc3"
            alt="poert1 -image"
          />
        </button>

        <!-- Modal -->
        <div
          class="modal fade"
          id="exampleModal3"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <img [src]="imageSrc3" class="w-100" alt="poert1 -image" />
              </div>
            </div>
          </div>
        </div>

        <div
          data-bs-toggle="modal"
          data-bs-target="#exampleModal3"
          class="layer rounded rounded-3 d-flex align-items-center justify-content-center"
        >
          <h1><i class="text-white fa-solid fa-plus"></i></h1>
        </div>
      </div>
    </div>
  </div>
  <div
    class="light-box align-items-center justify-content-center"
    [class]="statuse == true ? 'd-flex' : 'd-none'"
    (click)="close()"
  >
    <img [src]="imageSrc" alt="port image" />
  </div>
</section>
